body {
  background-image: url(http://columbia.groundcontrolusa.com/wp-content/uploads/2015/09/Screen-Shot-2015-09-10-at-8.50.27-PM.png);
  color: white;
  background-color: darkgray;
}

.user-card {
  border: 2px solid black;
  background-color: darkslategray;
  margin-top: 1.5em;

}

.user-card h3 {
  color: white;
}

.user-image {
  height: auto;
  width: 50%;
  border: 2px solid black
}

.winner-card {
  border: 2px solid black;
  background-color: firebrick;
  color:white;
  margin-top: 1em;
}

.user-card .badge-bay {
  height: auto;
  width: 10%;
}

input {
  color: black;
}

.badges {
  margin-top: 1em;
}